<!DOCTYPE html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <style>
      body {
          padding: 10px;
      }
    </style>
  <head>
  
  <body class="container">
    <h2>Secret Santa</h1>
    <p>Welcome!</p>
    <a href="/login" class="btn btn-default">Log In</a>
    <a href="/register" class="btn btn-default">Register</a>
  </body>

</html>
