<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<style>
body {
    padding: 10px;
}
</style>

<body class="container">
    <form action="" method="post">
        <h2>Yo, dawg.</h2>
        <p>Username: <input type=text name=username>
        <p>Password: <input type=password name=password>
        <p><input type=submit value=Login class="btn btn-default">
    </form>
</body>